<!DOCTYPE html>
<html lang="zh">
<head>
    #@header("添加模型")
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">模型名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="modelName" lay-verify="required" placeholder="请输入模型名称" class="layui-input" lay-required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模型地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="modelPath" lay-verify="required" placeholder="请输入模型地址" class="layui-input" lay-required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">推理框架：</label>
                    <div class="layui-input-block">
                        <select name="framework" lay-required>
                            <option value=""></option>
                            <option value="ollama">ollama</option>
                            <option value="vllm">vllm</option>
                            <option value="tensorflow">TensorFlow</option>
                            <option value="pytorch">PyTorch</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">版本号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="version" placeholder="请输入版本号" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-block">
                        <textarea name="description" placeholder="请输入描述" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="management-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
#@footer()
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let prefix = "/api/v1/model/";
        form.on('submit(management-save)', function (data) {
            $.ajax({
                url: prefix + 'save',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("management-table");
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>
