<!-- 通用CSS -->
#define header(title)
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>#(title)</title>
    <link rel="shortcut icon" href="/admin/images/logo.png">
    <link rel="stylesheet" href="/component/pear/css/pear.css">
</head>
#end

#define footer()
<!-- 通用JS -->
<div>
    <script src="/component/layui/layui.js"></script>
    <script src="/component/pear/pear.js"></script>
    <script src="/component/jquery.min.js"></script>
</div>
#end
