<!DOCTYPE html>
<html lang="zh" >
<head>
    #@header("部署模型")
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">服务名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="taskName" lay-verify="required" placeholder="请输入服务名称，仅支持小写字母和数字" class="layui-input" lay-required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">推理框架：</label>
                    <div class="layui-input-block">
                        <select name="backend" lay-required>
                            <option value=""></option>
                            <option value="ollama">ollama</option>
                            <option value="vllm">vllm</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模型：</label>
                    <div class="layui-input-block">
                        <select name="taskId" lay-required>
                            <option value=""></option>
                            <option value="UXdlbjIuNS0wLjVCLUluc3RydWN0">Qwen2.5-0.5B-Instruct</option>
                            <option value="RGVlcFNlZWstRGlzdGlsbC03Qg==">DeepSeek-Distill-7B</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">实例数量：</label>
                    <div class="layui-input-block">
                        <input type="text" name="replicas" placeholder="请输入实例数量" class="layui-input"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="management-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
#@footer()
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let prefix = "/api/v1/serve/";
        form.on('submit(management-save)', function (data) {
            $.ajax({
                url: prefix + 'startModel',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("management-table");
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>