<!DOCTYPE html>
<html lang="zh" >
<head>
    #@header("制作镜像")
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container layui-row">
            <div class="layui-col-md6">
                <input name="envId" value="#(onlineEnvManagement.envId)" type="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label">环境名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="envName" value="#(onlineEnvManagement.envName)" placeholder="请输入环境名称"
                               class="layui-input" lay-required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">基础镜像</label>
                    <div class="layui-input-block">
                        <select id="baseImage" name="baseImage" lay-required >
                            <option value=""></option>
                            <option value="0">tensorflow:v0</option>
                            <option value="1">tensorflow:v1</option>
                            <option value="2">tensorflow:v2</option>
                            <option value="3">tensorflow:v3</option>
                            <option value="4">tensorflow:v4</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">python 版本</label>
                    <div class="layui-input-block">
                        <select id="pythonVersion" name="pythonVersion" lay-required >
                            <option value=""></option>
                            <option value="0">python:v0</option>
                            <option value="1">python:v1</option>
                            <option value="2">python:v2</option>
                            <option value="3">python:v3</option>
                            <option value="4">python:v4</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">环境描述：</label>
                    <div class="layui-input-block">
                        <input type="text" name="envDesc" value="#(onlineEnvManagement.envDesc)" placeholder="请输入环境说明" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">训练代码:</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="trainingCode"><i class="layui-icon"></i>上传代码</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">目录:</label>
                    <div class="layui-input-block">
                        <input type="text"  name="workDir" placeholder="请输入目录" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">训练数据:</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" name="trainingData" id="trainingData" ><i class="layui-icon"></i>上传数据</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">选择训练数据:</label>
                    <div class="layui-input-block">
                        <div name="demo1" id="demo1" ></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="management-createImage">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
#@footer()
<script>
    layui.use(['form', 'jquery','upload', 'element', 'layer','xmSelect'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let upload = layui.upload;
        let element = layui.element
        let layer = layui.layer;
        let xmSelect = layui.xmSelect;

        let prefix = "/space/";
        let dataset = xmSelect.render({
				    el: '#demo1',
				    data: [
				        {name: '张三', value: 1},
				        {name: '李四', value: 2},
				        {name: '王五', value: 3},
				    ]
				})
        $("#baseImage").val("#(onlineEnvManagement.baseImage)");
        $("#pythonVersion").val("#(onlineEnvManagement.pythonVersion)");
        form.render('select');
        document.getElementById('demo1').onclick = function(){
            //获取当前多选选中的值
            var selectArr = demo2.getValue();
            document.getElementById('demo2-value').innerHTML = `\ndemo2.getValue()\n\n` + JSON.stringify(selectArr, null, 2);
        }
        upload.render({ //允许上传的文件后缀
            elem: '#trainingCode',
            url: prefix+'upload',
            data: {type:"modelUpload",isUploadToMinio:false},
            accept: 'file',
            done: function(res){
            layer.msg('上传成功');
            console.log(res)
            }
         });
          upload.render({ //允许上传的文件后缀
            elem: '#trainingData',
            url: prefix+'upload',
            data: {type:"dataUpload",isUploadToMinio:false},
            accept: 'file',
            done: function(res){
            layer.msg('上传成功');
            console.log(res)
            }
         });

        form.on('submit(management-createImage)', function (data) {
            $.ajax({
                url: prefix + 'createImage',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("management-table");
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });

    });
</script>
</body>
</html>